.buttonGoogle {
  width: 100%;
  color: rgb(0, 140, 255);
  border-radius: 10px;
  overflow: hidden;
  justify-content: center;
  height: 50px;
  font-size: 16px;
  margin-right: 10px;

  background-color: rgb(255, 255, 255);
  display: inline-flex;
  align-items: center;
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
  padding: 0px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}

.logoWrapper {
  margin-right: 10px;
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
}
