.newContactWrapper {
  width: 400px;
  text-align: right;
  margin-left: auto;
}

.newContactTitle {
  font-family: 'DM Serif Display', serif;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.3;
  margin-left: auto;
  margin-right: 57px;
  margin-top: 0;
  margin-bottom: 20px;
  color: rgb(90, 90, 90);
}

.titleContacts {
  font-family: 'DM Serif Display', serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.3;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 20px;
  color: rgb(90, 90, 90);
}

.text {
  font-family: 'Lobster', cursive;
  font-size: 36px;
  color: rgb(121, 121, 121);
  text-align: center;
  margin: 0;
}

.title {
  font-family: 'Lobster', cursive;
  font-size: 90px;
  line-height: 1.3;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(53, 53, 53);
}
